.container_comandos {
  margin: 10em 0.3em;
}

.title_container_comandos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.title_container_comandos h1 {
  text-align: center;
  font-size: 2em;
}

/* INDICE */

.container_indice {
  margin: 0;
  padding: 0;
}

.container_indice_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container_indice_item img {
  min-width: 30%;
  min-height: 30%;
  background-color: aquamarine;
  border-radius: 2em;
}

.container_indice_item div {
  margin: 2em 0em;
}

.container_indice_item div h3 {
  color: aquamarine;
  text-align: center;
  font-size: 1.2em;
  margin: 1em;
}

.container_indice_item div p {
  padding: 0.4em;
  margin-bottom: 1em;
}

/* COMANDO PARA TAREAS */

.container_comandos_titles {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin: 0.5em;
}

.container_comandos_titles svg {
  margin: 0;
  min-width: 5em;
  min-height: 5em;
}

.container_comandos_titles_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
  text-align: center;
}

.container_comandos_titles_text h3 {
  font-size: 1.5em;
  margin: 1em;
}

.container_comandos_titles_text p {
  font-size: 1em;
}

.container_comandos_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid aquamarine;
  padding: 1em;
  border-radius: 2em;
  margin: 2em 0;
}

.container_comandos_card div {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1em;
}

.container_comandos_card div h3 {
  padding: 1em;
  color: black;
  background-color: aquamarine;
  border-radius: 1em;
  font-size: 1.2em;
  font-weight: 600;
}

.container_comandos_card_list {
  margin: 1em;
}

.container_comandos_card_list li {
  display: flex;
  flex-direction: column;
}

.container_comandos_card_list li span {
  padding: 1em;
  color: black;
  background-color: aquamarine;
  border-radius: 1em;
  font-size: 1em;
  font-weight: 600;
}

.container_comandos_card_list li p {
  margin: 1em;
}

@media (min-width: 700px) {
  .title_container_comandos {
    margin: 10em;
  }
  .title_container_comandos h1 {
    text-align: center;
    font-size: 4em;
  }

  .container_indice_item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2em;
  }

  .container_indice_item div {
    max-width: 55em;
    margin: 1em 1em;
  }
  .container_indice_item img {
    min-width: 30em;
    max-height: auto;
    background-color: aquamarine;
    border-radius: 2em;
  }

  .container_indice_item div h3 {
    color: aquamarine;
    text-align: center;
    font-size: 2.2em;
    margin: 1em;
  }

  .container_indice_item div p {
    padding: 0.6em;
    font-size: 1.2em;
    margin-bottom: 1em;
  }

  .container_comandos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2em 0.3em;
  }

  .container_comandos_titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    width: 100%;
    margin: 3em;
  }

  .container_comandos_card {
    display: flex;
    flex-direction: row;
    max-width: 36em;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2em;
  }
}
