.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.logo_container {
  padding: 0.3em;
  min-width: 4em;
  border: 0.2em solid white;
}

.navbar_container a {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
}

/* Add this class when scrolling */
.navbar_container.scrolled {
  transform: translateY(-100%);
}

.contariner_links {
  margin-top: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contariner_links .link_items {
  margin: 0.5em 0.5em;
  font-size: larger;
}
